@{
    ViewData["Title"] = "OlimpikonokWEBApp";
}

<div class="text-center">
    <h1 class="display-4">Olimpikonok</h1>
    <p>Üdvözöljük az Olimpikonok webalkalmazásban!</p>
    <p>Ez az alkalmazás lehetővé teszi az olimpikonok adatainak megtekintését és kezelését</p>
    <img src="/images/otkarika.png" alt="Olimpiai karikák" class="img-fluid" />
</div>                                                
