@{
    ViewData["Title"] = "OlimpikonokWEBApp";
}

<div class="text-center">
	<img src="@Program.ImageConverter((Model as Sportolo).IndexKep)" alt="Tárolt kép" class="img-fluid" />
</div>                                                
